html,
body {
  margin: 0px;
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div,
button {
  font-family: "Quicksand", sans-serif;
}

a:visited,
a {
  color: inherit;
  text-decoration: none;
}

*::selection {
  color: black;
  background-color: lightgreen;
}
